* {
  box-sizing: border-box;
  margin: 0;
  color: inherit;
  text-decoration: none; 
  --Primary: #6D6AFE;
  --Red: #FF5B56;
  --Black: #111322;
  --White: #FFFFFF;
  --Gray1: #3E3E43;
  --Gray2: #9FA6B2;
  --Gray3: #CCD5E3;
  --Gray4: #E7EFFB;
  --Gray5: #F0F6FF;
}

input {
  cursor: pointer;
}

/* Desktop First */

/* body 스타일 적용 */

body {
  font-size: 18px;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}


/* header 스타일 적용 */

header {
  display: flex;
  padding: 20px 200px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  background: var(--Gray5);
  position: sticky;
  top: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.header-logo {
  width: 133px;
  height: 24px;
}

.header-login {
  display: flex;
  width: 128px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 0;
  border-radius: 8px;
  background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, var(--Primary) 0.12%, #6AE3FE 101.84%));
  color: var(--Grey-Light, #F5F5F5);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}


/* main 스타일 적용 */

.main {
  display: flex;
  padding: 70px 0 0 0;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  background: #F0F6FF;
}

.main-h1 {
  text-align: center;
  white-space: pre-line;
  font-family: Pretendard;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
  color: var(--Black);
}

.main-h1-gradient {
  background: linear-gradient(91deg, var(--Primary) 17.28%, #FF9F9F 74.98%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-h1-button {
  display: flex;
  width: 350px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 0;
  border-radius: 8px;
  background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, var(--Primary) 0.12%, #6AE3FE 101.84%));
  color: var(--Grey-Light, #F5F5F5);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.main-img {
  width: 1200px;
}


/* section 별 레이아웃 적용 */

.section__image--right-1 {
  display: flex;
  padding: 120px 461px 50px 461px;
  justify-content: center;
  align-items: center;
}

.section__image--left {
  display: flex;
  padding: 50px 461px;
  justify-content: center;
  align-items: center;
}

.section__image--right-2 {
  display: flex;
  padding: 50px 461px;
  justify-content: center;
  align-items: center;
}


/* section 공통 스타일 적용 */

.section-contents {
  display: flex;
  align-items: center;
  gap: 157px;
}

.section-text {
  display: flex;
  width: 291px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.section-h2 {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.3px;
  color: var(--Black);
}

.section-text-normal {
  color: #6B6B6B;
  font-family: Abel;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.section-img {
  width: 550px;
}


/* section 별 h2 그라디언트 적용 */

.section1-h2-gradient {
  background: linear-gradient(96deg, #FE8A8A 1.72%, #A4CEFF 74.97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section2-h2-gradient {
  background: linear-gradient(277deg, #6FBAFF 59.22%, #FFD88B 93.66%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section3-h2-gradient {
  background: linear-gradient(99deg, #6D7CCD 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section4-h2-gradient {
  background: var(--Fandom-K-gra-blue-to-pink, linear-gradient(271deg, #FE578F -9.84%, #68E8F9 107.18%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* footer 스타일 적용 */

footer {
  margin-top: 120px;
}

.footer-contents {
  display: flex;
  padding: 32px 104px 108px 104px;
  justify-content: space-between;
  align-items: center;
  background: var(--The-julge-black, #111322);
  /* font 스타일 정의 */
  color: #676767;
  text-align: center;
  font-family: Acme;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-copyright {
  color: #676767;
  text-align: center;
  font-family: Acme;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-terms {
  color: #CFCFCF;
  font-family: Acme;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  gap: 30px;
}

.footer-sns {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}


/* Tablet */

@media (max-width: 1199px) {
  header {
    display: flex;
    padding: 20px 32px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    background: var(--Gray5);
    position: sticky;
    top: 0;
  }

  main .line-break-tablet-mobile {
    display: block;
  }

  .main-img {
    width: 698px;
  }

  .section-img {
    width: 385px;
  }
}

/* Mobile */

@media (max-width: 767px) {
  .main {
    padding: 70px 32px 0 32px;
    gap: 24px;
  }

  .main-h1-button {
    padding: 16px 62px;
    width: 100%;
  }

  .main-img {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
  }

  .section__image--right-1,
  .section__image--left,
  .section__image--right-2 {
    padding: 40px 32px;
  }

  .section-contents {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }

  .section-text {
    width: 100%;
    margin: 0 auto;
  }

  .section-img {
    width: 100%;
  }

  main .line-break-tablet-mobile {
    display: block;
  }

  .footer-contents {
    padding: 32px;
    flex-wrap: wrap;
  }

  /* 심화 요구사항 */
  .section-contents .section-img {
    order: 2;
  }
}