.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 100%;
  padding: 16px 20px;
  border-radius: 15px;
  border: 1px solid var(--Linkbrary-primary-color, #6D6AFE);
  background: var(--Linkbrary-white, #FFF);
  margin: 60px 320px 90px 320px;
}

.form .shareIcon {
  width: 20px;
}

.form .input {
  flex: 1 1;
  font-size: 16px;
  font-weight: 400;
  border: none;
  outline: none;
  background-color: inherit;
}

.form .input::placeholder {
  color: #878787;
}
