.button {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 4px;
  border: 0px;
  background: var(--Primary);
  font-size: 16px;
  font-weight: 400;
  color: var(--White);
  padding: 8px 24px;
  border-radius: 20px;
  position: fixed;
  bottom: 101px;
  left: 50%;
  transform: translate(-50%, 0);
}