.button {
  display: flex;
  padding: 8px 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid var(--Linkbrary-primary-color, #6D6AFE);
  background: var(--White);
  height: 35px;
  overflow: hidden;
}

.button:hover {
  background: #F0F6FF;
}

.buttonSelected,
.button:visited {
  color: var(--White);
  border: 1px solid var(--Linkbrary-primary-color, #6D6AFE);
  background: var(--Linkbrary-primary-color, #6D6AFE);
  display: flex;
  padding: 8px 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  height: 35px;
  overflow: hidden;
}