.nav {
  display: flex;
  padding: 20px 0;
  background: var(--Gray5);
  position: sticky;
  top: 0;
  z-index: 1;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerLogo {
  width: 133px;
  height: 24px;
}

.headerLogin {
  display: flex;
  width: 128px;
  margin: 0;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 0;
  border-radius: 8px;
  background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, var(--Primary) 0.12%, #6AE3FE 101.84%));
  color: var(--Grey-Light, #F5F5F5);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.userProfile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.userImg {
  width: 28px;
  height: 28px;
  border-radius: 100%;
}

.userEmail {
  font-size: 14px;
}

@media (max-width: 1124px) {
  .container {
    margin: 0 32px;
  }
}