.warn {
  text-align: center;
  padding: 41px 0 35px 0;
}

.title {
  margin: 41px 0 35px;
  font-size: 14px;
  font-weight: 400;
}

.description {
  margin: 0;
  font-weight: 500;
  line-height: 2.07;
  color: #878787;
}